/*
!.gitignore
!setup.sh
!__init__.py
!requirements.txt
!/map_files/
!/sparkOEDOModules/
!sparkOEDOModules.zip
!/prm
!/kafka/
!/hist/
!/waveform/
!/scala_package/
!/bin/
*.pyc
!SparkOedo.py
!environment.yaml
